<div class="home__container">
   <app-card
      [gameCover]="'../../../assets/bt-1.jpg'"
      [gameLabel]="'Exclusive'"
      [gameTitle]="'Battlefield 1 | Play it now'"
      [gameOriginalPrice]="'R$ 78,99'"
      [gamePrice]="'R$ 11,84'"
      [gameMode]="'Digital'"
      [gameConsole]="'PS4'"
></app-card>
   <app-card
      [gameCover]="'../../../assets/bt-5.jpg'"
      [gameLabel]="'Exclusive'"
      [gameTitle]="'Battlefield V | Play it now'"
      [gameOriginalPrice]="'R$ 198,99'"
      [gamePrice]="'R$ 19,98'"
      [gameMode]="'Digital'"
      [gameConsole]="'PS4'"
   ></app-card>
   <app-card
      [gameCover]="'../../../assets/bt-bad-company-2.jpg'"
      [gameLabel]="''"
      [gameTitle]="'Battlefield Bad Company 2 | Play it now'"
      [gamePrice]="'R$ 99,90'"
      [gameMode]="'Digital'"
      [gameConsole]="'PC'"
   ></app-card>
   <app-card
      [gameCover]="'../../../assets/bt-4.jpg'"
      [gameLabel]="'Exclusive'"
      [gameTitle]="'Battlefield 4 | Play it now'"
      [gamePrice]="'R$ 99.50'"
      [gameMode]="'Digital'"
      [gameConsole]="'PS4'"
   ></app-card>
   <app-card
      [gameCover]="'../../../assets/bt-hardline.jpg'"
      [gameLabel]="''"
      [gameTitle]="'Battlefield Hardline | Play it now'"
      [gamePrice]="'R$ 199.99'"
      [gameMode]="'Midia'"
      [gameConsole]="'PC'"
   ></app-card>

   <app-card
      [gameCover]="'../../../assets/ac-cover.jpg'"
      [gameLabel]="'Exclusive'"
      [gameTitle]="'Assasin\'s Creed | Play it now'"
      [gamePrice]="'R$ 599.99'"
      [gameMode]="'Digital'"
      [gameConsole]="'PS4'"
   ></app-card>
</div>